html{
    background: WhiteSmoke;
    padding-top: 25px;
}


body {
    font-family: 'Lato', sans-serif;
    width: 20%;
    margin: auto;
    background: none;
}

pre {
    white-space: pre-wrap;
}

/* lista albumów */
.formtypelist {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* CSS for list followers */

.fcointerner
{
    background-color:red;
    width = 1000px;
    align:center;
}

.favatar{
    width = 100px;
    align:center;
    float:left;
}

.fusername
{
    background-color:black;
    width = 800px;
    text-align:left;
    float:left;
}

.ffunc
{
    width = 100px;
    text-align:center;
    float:left;
}
