html{
    background: WhiteSmoke;
    padding-top: 25px;
}


body {
    width: 80%;
    margin: auto;
    background: none;
}

.main-block {
    min-height: 300px;
}

pre {
    white-space: pre-wrap;
}

/* lista albumów */
.formtypelist {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 2px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: WhiteSmoke;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 2px;
  background: WhiteSmoke;
  color: #ffcc00;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #ffcc00;
  color: WhiteSmoke;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}