<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page_id == 'records' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('get_records') }}">Albumy</a>
            </li>
            <li class="nav-item{% if page_id == 'reviews' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('explore') }}">Wszystkie Recenzje</a>
            </li>
            <li class="nav-item{% if page_id == '' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('info') }}">Obserwowane Recenzje</a>
            </li>
            <li class="nav-item{% if page_id == 'publicLists' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('publicLists') }}">Listy publiczne</a>
            </li>
        </ul>
    </div>

</nav>
