<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static',filename='img/logo_yellow.png')}}" height="60" width="120"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page_id == 'records' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('get_records') }}">Albumy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">
            <li>
                <div id="searchMain">
                    <form class="example" action="/search" method="POST">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </li>
        </ul>

    </div>


    <div class="dropdown">
          <a href="#" data-toggle="dropdown"><img src="https://www.gravatar.com/avatar/%7B%7D?d=identicon&s=200" height="30" width="30">  <!-- tymczasowo dowolny plik png -->
              {{session.username}}
          </a>
          <ul class="dropdown-menu" role="menu">
              <li><a class="nav-link" href="{{ url_for('user',username=session.username)}}">Twój profil</a></li>
              <li><a class="nav-link" href="/edit_profile">Edytuj profil</a></li>
              <li><a class="nav-link" href="/edit_password">Zmień hasło</a></li>
              <li><a class="nav-link" href="/logout">Wyloguj</a></li>

          </ul>
    </div>

</nav>
