<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Music manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page_id == 'records' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('get_records') }}">Albumy</a>
            </li>
            {% if not session['username'] %}
            <li class="nav-item{% if page_id == 'info' %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('info') }}">Info</a>
            </li>
            <li class="nav-item{% if page_id == 'register' %} active{% endif %}">
                <a class="nav-link" href="/register">Rejestracja</a>
            </li>
            <li class="nav-item{% if page_id == 'login' %} active{% endif %}">
                <a class="nav-link" href="/login">Logowanie</a>
            </li>
            {% endif %}
            {% if session['username'] %}
              <li class="nav-item{% if page_id == 'logout' %} active{% endif %}">
                  <a class="nav-link" href="/logout">Wyloguj</a>
              </li>
            {% endif %}
        </ul>
    </div>
    {% if session['username'] %}
    <div style="color:white; " class="collapse navbar-collapse">
        Witaj {{session.username}}!
    </div>
    {% endif %}
</nav>
