{% extends "_base.html" %}
{% set page_id = 'Edycja hasła' %}

{% block title %}Edycja {{ current_user.username }}{% endblock %}

{% block content %}
    <h2><br>Edycja hasła dla użytkownika: {{ current_user.username }}</h2><br>
    <form action="/edit_password" method="post">
               <div class="input-group">
                   <span class="input-group-addon">Podaj stare hasło </span>
                   <input value="" required type="password" class="form-control" name="old_password" id="old_password">
               </div>
               <br>
               <div class="input-group">
                   <span class="input-group-addon">Podaj nowe hasło </span><br>
                   <input required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Hasło musi zawierać conajmniej jedną cyfrę, jedną dużą i małą literę i conajmniej 8 znaków" class="form-control" id="new_password" name="new_password">
               </div>
               <br>
               <div class="input-group">
                   <span class="input-group-addon">Podaj podnownie nowe hasło </span><br>
                   <input  required type="password" class="form-control" id="new_password_veirfy" name="new_password_verify">
               </div>
        <button class="btn waves-effect waves-light custom-green" type="submit" name="action" value="login">Potwierdź</button>
    </form>
{% endblock %}
