{% extends "_base.html" %}
{% set page_id = 'login' %}

{% block title %}Zaloguj się{% endblock %}

{% block content %}
    <h2>Zaloguj się</h2>
      <div class="row">
        <div class="col s10 offset-s1">
          <form action="/login" method="POST" class="top-margin">
               <div class="input-group">
                   <span class="input-group-addon">Login</span>
                   <input type="text" class="form-control" name="username" id="username">
               </div>
               <br>
               <div class="input-group">
                   <span class="input-group-addon">Hasło</span>
                   <input type="password" class="form-control" id="password" name="password">
               </div>
               <br>
              <button class="btn waves-effect waves-light custom-green" type="submit" name="action" value="login">Zaloguj się</button>
           </form>
        </div>
      </div>

    {{ tekst }}
{% endblock %}
