{% extends "_base.html" %}
{% set page_id = 'records' %}
{% block title %} Lista albumów {% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
        <h1 class="h2 mt-3 mb-3"> Lista albumów ({{ records | count }})</h1>
        {% if records %}
        <ul class="list-unstyled">
            {% for record in records %}
            <li class="p-1">
                <a href="{{ url_for('get_record', id=record.id) }}">{{ record.artist }} - {{ record.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}