{% extends "_base.html" %}
{% set page_id = 'register' %}


{% block title %}REJESTRACJA{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <h3>Rejestracja</h3>
    </div>

    <div class="row">
        <div class="col s10 offset-s1">
          <form action="/register" method="POST" class="top-margin">
               <div class="input-group">
                   <span class="input-group-addon">Podaj login </span>
                   <input minlength="4" maxlength="20"  value="{{username}}" required type="text" class="form-control" name="username" id="username">
               </div>
               <br>
               <div class="input-group">
                   <span class="input-group-addon">Podaj hasło </span>
                   <input required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Hasło musi zawierać conajmniej jedną cyfrę, jedną dużą i małą literę i conajmniej 8 znaków" class="form-control" id="password" name="password">
               </div>
               <br>
               <div class="input-group">
                   <span class="input-group-addon">Podaj podnownie hasło </span>
                   <input  required type="password" class="form-control" id="password_veirfy" name="password_verify">
               </div>
               <br>
               <div class="input-group">
                   <span class="input-group-addon">Podaj mail </span>
                   <input minlength="5" maxlength="254" value="{{email}}" required type="email" class="form-control" id="email" name="email">
               </div>
               <br>
              <button class="btn waves-effect waves-light custom-green" type="submit" name="action" value="login">Zarejestruj się</button>
           </form>
        </div>
    </div>
  </div>
{% endblock %}
