{% extends "_base.html" %}

{% block content %}

<table class="table table-bordered table-condensed table-striped table-hover">
    <tr>
        <td>
            <a href="{{ url_for('top_revs') }}">Najwięcej recenzji</a>
        </td>
        <td>
            <a href="{{ url_for('top_rats') }}">Najwięcej ocen</a>
        </td>
        <td>
            <a href="{{ url_for('top_avg') }}">Najlepsza ocena</a>
        </td>
        <td>
            <a href="{{ url_for('top_users_rev') }}">Najaktywniejszy użytkownik</a>
        </td>
    </tr>

</table>




<!--<br>-->
<!--{% for album in albums %}-->
<!--<p>{{ album.title }} {{ type }}</p>-->
<!--{% endfor %}-->
<br>
<div>
    {% if albums %}
        {% if type == "records" %}
            <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Wykonawca</th>
                    <th>{{ val_desc }}</th>
                </tr>
                </thead>
            {% for album in albums %}
            <tr>
                <td>{{ album.title }} </td>
                <td>{{ album.artist }} </td>
                <td>{{ album.val }} </td>
            </tr>
            {% endfor %}
            </table>
        {% else %}
            <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Użytkownik</th>

                    <th>{{ val_desc }}</th>
                </tr>
                </thead>
            {% for album in albums %}
                <tr>
                    <td>{{ album.username }}</td>
                    <td>{{ album.val }}</td>
                </tr>
            {% endfor %}
        {% endif %}
            </table>
    {% endif %}

</div>

{% endblock %}
