{% extends "_base.html" %}
{% set page_id = 'Profil' %}

{% block title %}Profil {{user.username}}{% endblock %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(200) }}"></td>
            <td>
                <h1>{{ user.username }}</h1>
                <p><a href="{{ url_for('followers_list', username=user.username) }}">Obserwowany: <b>{{ user.followers.count() }}         </b></a>         <a href="{{ url_for('followed_list', username=user.username) }}">Obserwuje: <b>{{ user.followed.count() }}</b></a></p>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.register_in %}<p>Zarejestrowany od : {{ user.register_in.strftime('%Y-%m-%d %H:%M') }}</p>{% endif %}
                {% if user.last_seen %}<p>Ostatnio online : {{ user.last_seen.strftime('%Y-%m-%d %H:%M') }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edycja profilu</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Obserwuj</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Przestań obserwować</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
<h4>Recencje użytkownika: </h4>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
            <td width="15%">Data dodania</td>
            <td width="25%">Artysta - Płyta</td>
            <td>Treść</td>
        </thead>
        {% for post in posts %}

        <tr class="table-row">
            <td>{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td><a href="{{ url_for('get_record', id=post.record_id) }}"> {{ post.record.artist }} - {{ post.record.title }}</a></td>
            <td>{{ post.review }}</td>
        </tr>
        {% endfor %}

    </table>
    {% if prev_url %}
    <a href="{{ prev_url }}">Nowsze recenzje</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Starsze recenzje</a>
    {% endif %}

    {% if user == current_user %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userListModal">
      Dodaj własną listę albumów
    </button>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="userListModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Stwórz własną listę</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <form action="/type-list" method="post" class="formtypelist">
                 <div class="form-group">
                     <input type="text" name="list-name" required="true" class="form-control" id="listName" placeholder="Nazwa listy">
                 </div>
                 <div class="form-group">
                    <select class="form-control" id="selectListType" name="list-type">
                        <option>Typ widoczności listy:</option>
                        <option value="0">Publiczna</option>
                        <option value="1">Prywatna</option>
                        <option value="2">Tylko dla znajomych</option>
                    </select>
                 </div>
              <button type="submit" name="listtypesubmit" class="btn btn-primary">Zapisz</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>

    <h3 class="my-3">Moje listy:</h3>
    {% if albumlist %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Publiczne:</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for list in albumlist %}
                        {% if list.type == 0 %}
                            <tr>
                              <td><a href="/user/{{ user.username }}/list/{{ list.id }}">{{ list.title }}</a></td>
                            </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Prywatne:</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for list in albumlist %}
                            {% if list.type == 1 and user == current_user %}
                                <tr>
                                  <td><a href="/user/{{ user.username }}/list/{{ list.id }}">{{ list.title }}</a></td>
                                </tr>
                            {% endif %}
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Dla obserwujących:</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for list in albumlist %}
                            {% if list.type == 2 and current_user.is_following(user) %}
                                <tr>
                                  <td><a href="/user/{{ user.username }}/list/{{ list.id }}">{{ list.title }}</a></td>
                                </tr>
                            {% endif %}
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
    <h4>Brak list albumów</h4>
    {% endif %}
{% endblock %}
